
<body>
    <h1>
    Chat Room:   
    </h1>
    <h3>
    Topic:
    </h3>
    <table>
    <% for(var i =0; i < messages.length; i++){%>
            <tr>
                <td>
                From:
            </td>
                <td>
                Message:
                </td>        
            </tr>
    <% } %>    
</table>
    
</body>