<!DOCTYPE html>
<html lang="en">
<head>
<title>Chat with me!</title>
<style>
    #chatForm {
        margin-top: 20px;
    }
    .chatMessage {
        margin-bottom: 15px;
    }
</style>

</head>
<h3>
    Send me coffee!
</h3>
<body>
    <form id="chatForm">
        <input type="text" id="content" placeholder="Create a chat!">
        <button type="submit">Send</button>
    </form>

    <div id="chatContent"></div>

    <script>
        document.getElementById("chatForm").addEventListener("submit", function(event) {
            event.preventDefault(); //makes sure it doesnt submit with nothing in it??
            var content = document.getElementById("content").value;
            var chatMessage = document.createElement("p"); // p for paragraph for some reson
            chatMessage.textContent = "You said: " + content;
            chatMessage.classList.add("chatMessage"); //this is to make the chats not dissappear, 
            //seems to be an array. ChatMessage.
            var chatContent = document.getElementById("chatContent");
            chatContent.appendChild(chatMessage);
            document.getElementById("content").value = "";
        });
    </script>
</body>
</html>
